@import url("https://fonts.googleapis.com/css2?family=Piazzolla:ital,opsz,wght@0,8..30,100..900;1,8..30,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

* {
  padding: 0px;
  margin-left: 25px;
  margin-right: 25px;
  box-sizing: border-box;
  background-color: rgb(217, 217, 214);
  font-family: monospace;
}
.logo {
  height: 100px;
  width: 300px;
}
.header-container {
  display: flex;
}
.header-container a {
  margin-top: 50px;
  text-decoration: none;
  color: rgb(36, 35, 35);
  font-size: 1.3rem;
}
.header-container .logo-anchr {
  margin-left: 20rem;
}
.header-container button {
  height: 40px;
  width: 160px;
  margin-top: 40px;
  color: rgb(36, 35, 35);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1rem;
  border-radius: 40px;
  border: 0.5px solid black;
}
.header-1 {
  font-size: 4rem;
  font-weight: 200;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: rgb(5, 24, 5);
}
.header-2 {
  margin-top: -40px;
  font-size: 2.5rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: rgb(5, 24, 5);
  font-weight: 100;
}
.proj-btn {
  height: 45px;
  width: 190px;
  color: rgb(36, 35, 35);
  font-size: 1rem;
  font-weight: 600;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  border-radius: 40px;
  border: 0.5px solid black;
}
.image-container {
  height: 450px;
  width: 450px;
  display: flex;
}
.i-r-11 {
  height: 450px;
  width: 450px;
  position: relative;
}
.image-row-1 {
  margin-top: 20px;
  display: flex;
  position: relative;
}
.hover-image {
  height: 450px;
  width: 450px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.image-row-1:hover .hover-image {
  opacity: 1;
}
.image-row-12 {
  margin-top: 20px;
  position: relative;
  right: 70px;
}
.hover-video {
  height: 275px;
  width: 500px;
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.image-row-12:hover .hover-video {
  opacity: 1;
  height: 275px;
  width: 450px;
}
.i-r-12 {
  height: 275px;
  width: 450px;
}
.image-container-2 {
  display: flex;
  height: 700px;
  width: 500px;
  border: none;
}
.image-row-13 .i-r-13 {
  height: 600px;
  width: 450px;
  margin-top: 45px;
  position: relative;
  border: none;
}
.image-row-13 {
  display: flex;
  position: relative;
  border: none;
}
.hover-video-1 {
  height: 600px;
  width: 450px;
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border: none;
}
.image-row-13:hover .hover-video-1 {
  opacity: 1;
  height: 600px;
  width: 450px;
  margin-top: 45px;
  object-fit: cover;
}
.image-row-14 {
  display: flex;
  position: relative;
  margin-left: -45px;
  margin-top: -130px;
}
.image-row-14 .i-r-14 {
  height: 600px;
  width: 450px;

  position: relative;
}
.hover-image2 {
  height: 600px;
  width: 450px;
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.image-row-14:hover .hover-image2 {
  opacity: 1;
  height: 600px;
  width: 450px;
  object-fit: cover;
}
.image-container-3 {
  display: flex;
  width: 450px;
  height: 320px;
  margin-top: -30px;
  border: none;
}
.image-row-15 .i-r-15 {
  width: 450px;
  height: 320px;
  position: relative;
  border: none;
}
.image-row-15 {
  display: flex;
  position: relative;
  border: none;
}
.hover-image3 {
  width: 450px;
  height: 320px;
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border: none;
}
.image-row-15:hover .hover-image3 {
  opacity: 1;
  width: 450px;
  height: 320px;
  object-fit: cover;
}
.image-row-16 {
  display: flex;
  position: relative;
  margin-top: -170px;
  margin-left: -45px;
}
.image-row-16 .i-r-16 {
  width: 450px;
  height: 490px;
  position: relative;
}
.hover-video-2 {
  width: 450px;
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.image-row-16:hover .hover-video-2 {
  opacity: 1;
  width: 450px;
  object-fit: cover;
}
.image-container-4 {
  height: 350px;
  width: 450px;
  display: flex;
}
.i-r-17 {
  height: 350px;
  width: 450px;
  position: relative;
}
.image-row-17 {
  height: 350px;
  margin-top: 20px;
  display: flex;
  position: relative;
  object-fit: cover;
}
.hover-video-4 {
  height: 350px;
  width: 450px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  object-fit: cover;
  transition: opacity 0.3s ease-in-out;
}
.image-row-17:hover .hover-video-4 {
  opacity: 1;
  object-fit: cover;
}
.i-r-18 {
  height: 350px;
  width: 450px;
  position: relative;
}
.image-row-18 {
  display: flex;
  position: relative;
  margin-left: -45px;
  margin-top: 20px;
}
.hover-image6 {
  height: 350px;
  width: 450px;
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.image-row-18:hover .hover-image6 {
  opacity: 1;
  height: 350px;
  width: 450px;
  object-fit: cover;
}
.view-more-sec {
  align-items: center;
  margin-top: 100px;
  margin-left: 28rem;
}
.view-more-sec h1 {
  font-weight: 900;
  font-size: 25px;
}
.arrow-image {
  margin-top: 40px;
  margin-left: -30px;
}
.view-more-sec :hover {
  text-decoration: underline;
}
.process-container {
  background-color: black;
  margin-left: -75px;
  margin-top: 90px;
  position: absolute;
}
.process-container p {
  background-color: black;
  text-align: center;
  font-size: 60px;
  font-weight: 100;
  color: white;
  left: 20px;
  position: relative;
  font-family: "Courier New", Courier, monospace;
  top: 50px;
}
.head-container {
  display: flex;
  background-color: black;
  color: white;
  gap: 10rem;
  position: relative;
  top: 350px;
  left: 0px;
}
.head-container .head-1 {
  background-color: black;
  margin-left: 100px;
  position: relative;
}
.head-container .head-2 {
  background-color: black;

  position: relative;
}
.head-container .head-3 {
  background-color: black;

  position: relative;
}
.head-1 h1,
p,
.para {
  background-color: transparent;
}
.head-2 h1,
p,
.para {
  background-color: transparent;
}
.head-3 h1,
p,
.para {
  background-color: transparent;
}
